<div class="container color-dark">
  <div class="col">
    <p>Add a weapon list item</p>
  </div>
  <div class="col">
    <p>Weapon list {{itemCount}} weapons</p>
  </div>
</div>
<div class="container color-light" [@weaponList]="weaponList.length">
  <div class="col">
    <p class="sm">Use the form below to add a new set of stock weaponry for your Decepticon</p>
    <form>
      <input type="text" class="txt" name="weapon" placeholder="[enter weapon name]" [(ngModel)]="weaponText">

      <input type="submit" class="btn" [value]="btnText" (click)="addWeapon()">
    </form>
  </div>
  <div class="col">
    <p class="life-container">
      Weapons increase the attack strength of your Decepticon.
    </p>
    <p *ngFor="let weapon of weaponList; let i = index" (click)="removeWeapon(i)">
      {{weapon}}
    </p>
  </div>
</div>
